.test {
  margin-top: 100px !important;
}

.test2 {
  padding: 20px !important;
}

.btn {
  padding: 10px;
}

.box {
  padding: 20px;
  padding-top: 0px !important;
  padding-bottom: 50px !important;
}

.test3 {
  padding: 20px;
}

.test4 {
  padding: 40px;
}

.test5 {
  padding: 15px;
  margin-bottom: 15px;
}

.test6 {
  padding: 12px;
}

.test7 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test8 {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.test9 {
  padding: 20px;
}

.test10 {
  display: flex;
  justify-content: center;
  padding: 20px;
}
